body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: #C0C0C0;
}

header {
    background-color: #1A1A1A;
    color: #E50914;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

header .logo {
    font-size: 2rem;
}

header nav input {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

button {
    background-color: #E50914;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0A2239;
}

textarea, input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #C0C0C0;
}
